* {
    background-color: black;
    color:white;
    font-size: 125%;
    font-family:consolas;
}
#progress-container {
    padding:0.5em 0;
}
#workout-ui {
    display: none;
    padding:1.4em 0;
}
#workout-ui *{
    color:black;
}
button{
    margin-top:4em;
    background-color: lightgreen;
    color:black;
    padding:0.2em 2em;
    border-radius:1em;
    border:0.1em solid white;
}
button:hover{
    background-color: black;
    color:lightgreen;
}
